<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Company</th>
            <th>Location</th>
            <th>Description</th>
            <th>Seniority</th>
        </tr>
    </thead>
    <tbody>
        {% for posting in postings %}
        <tr>
            <td>{{ posting.id }}</td>
            <td>{{ posting.original_title }}</td>
            <td>{{ posting.company }}</td>
            <td>{{ posting.location }}</td>
            <td>{{ posting.description }}</td>
            <td>{{ posting.seniority }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'pagination_controls.html' %}